@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
* {
  cursor: none !important;
}

::-webkit-scrollbar {
   width: 1px;

  
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: content-box;
  
}
::-webkit-scrollbar-thumb:hover {
  background: #484f58;
}

@theme {
  --font-sans: 'Fira Code', monospace;

  --color-backdrop: #020618;
  --color-background: #0f172b;
  --color-stroke: #314158;
  --color-foreground: #f8fafc;
  --color-text-foreground: #90a1b9;
  --color-link-forward: #ffa1ad;
  --color-link-hover-forward: #ffccd2;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
